<nav class='text-nav'>
    <ul>
        <li>
        {{#if this.prevLinkActive}}
            <a class='prev' href='{{this.prevLink}}'>
        {{else}}
            <a class='prev disabled'>
        {{/if}}
                <i class='fa fa-chevron-left'></i>
                <span>Previous page</span>
            </a>
        </li>

        {{#each this.pages}}
            {{#if this.ellipsis}}
                <li>&hellip;</li>
            {{else}}
                {{#if this.active}}
                    <li class='active'>
                {{else}}
                    <li>
                {{/if}}
                    <a href='{{this.link}}'>{{this.number}}</a>
                </li>
            {{/if}}
        {{/each}}

        <li>
        {{#if this.nextLinkActive}}
            <a class='next' href='{{this.nextLink}}'>
        {{else}}
            <a class='next disabled'>
        {{/if}}
                <i class='fa fa-chevron-right'></i>
                <span>Next page</span>
            </a>
        </li>
    </ul>
</nav>
